body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}
header, nav, section, aside, footer {
    background: #ebebeb;
    margin: 10px;
    
}
article {
    color: #ebebeb;
    background: #777;
    padding: 30px;
    overflow: auto;
    margin: 20px;
}
h1, p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
}
header, nav, footer {
    padding: 30px;
}
section {
    width: 495px;
    float: left;
}
aside {
    width: 365px;
    float: right;
    padding: 30px;
}
.col-container {
    display: table;
    width: 80%;
}
.col {
    display: table-cell;
    padding: 16px;
}
.container            { overflow: hidden;}
.content, .sidebar    { padding-bottom: 99999px; margin-bottom: -99999px;}
